@import 'https://fonts.googleapis.com/css?family=Inter:300,400,500';

/* customize header image */
.header {
    padding: 362px;
    text-align: left;
    background: #131313;
    color: #fbfbfb;
    font-size: 30px;
}

.tile-resume {
    padding: 362px;
    text-align: center;
    background: #f2cc8f;
    color: #fbfbfb;
    font-size: 30px;
    margin: 0 auto;
}

.tile-project {
    padding: 362px;
    text-align: right;
    background: #131313;
    color: #fbfbfb;
    font-size: 30px;
    margin: 0 auto;
}

.tile-contact {
    padding: 362px;
    text-align: center;
    background: #e07a5f;
    color: #fbfbfb;
    font-size: 30px;
    margin-left: 0 auto;
}

.content {
    /* centering */
    margin: 0 auto;
    max-width: 50em;

    /* spacing */
    line-height: 1.5;
    padding: 4em 1em;

    /* colors */
    background-color: rgb(255, 255, 255);
    color: rgb(207, 207, 207);
}

body {
    /* font family */
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    font-size: 20px;
}
  
h1 {
    color: #fbfbfb;
}

h2 {
    /* spacing */
    margin-top: 1em;
    padding-top: 1em;
}

/* darker for important words */
h1,
h2,
strong {
    color: #fbfbfb
}

.positioned {
    position: relative;
    align-self: center;
    text-align: left;
    font-size: 20px;
}